# Q.1)  A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

 
    Minitab File : Cutlets.mtw

Determine the Null and Alternative Hypothesis.

H0 : There is no significant difference in the diameter of the cutlet between two units.
H1 : There is significant difference in the diameter of the cutlet between two units.
    
We will perform the 2 Sample 2 Tail t-tests.

In [11]:
import numpy as np
from scipy import stats
import pandas as pd

In [6]:
cutlets = pd.read_csv('Cutlets.csv')

cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [22]:
cutlets = cutlets.rename(columns={'Unit A':'Unit_A'})
cutlets = cutlets.rename(columns={'Unit B':'Unit_B'})


cutlets.head()

   Unit_A  Unit_B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [23]:
cutlets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit_A  35 non-null     float64
 1   Unit_B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [24]:
# calculate/Describe the mean and standard deviation for each group

cutlets.describe()

          Unit_A     Unit_B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [36]:
cutlets.mean()

Unit_A    7.019091
Unit_B    6.964297
dtype: float64

In [37]:
cutlets.std()

Unit_A    0.288408
Unit_B    0.343401
dtype: float64

In [42]:
unitA = cutlets.iloc[:,0]

unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit_A, dtype: float64

In [44]:
unitB = cutlets.iloc[:,0]

unitB

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit_A, dtype: float64

# Method 1

In [64]:
t_val,p_val=stats.ttest_ind(unitA,unitB)

t_val,p_val

(0.0, 1.0)

In [52]:
pval

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [65]:
stats.ttest_ind(unitA,unitB)

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [66]:
if p_val<0.05: 
    print('There is a signficance difference between the Cutlets ')
else: 
    print('There is no difference between the Cutlets')

There is no difference between the Cutlets

# Method 2

In [55]:
# calculate the mean and standard deviation for each group
mean_A = np.mean(unitA)
mean_B = np.mean(unitB)
std_A  = np.std(unitA, ddof=1)
std_B  = np.std(unitB, ddof=1)

# calculate the t- and p-values for the independent samples t-test

t_stat, p_value = stats.ttest_ind(unitA, unitB, equal_var=True)

# check the assumptions of normality and equal variance

normality_a = stats.shapiro(unitA)[1]>0.05
normality_b = stats.shapiro(unitB)[1]>0.05
equal_var = stats.levene(unitA, unitB)[1]>0.05

# print the results

print("Mean of Unit A:", mean_A)
print("Mean of Unit B:", mean_B)
print("Standard deviation of Unit A:", std_A)
print("Standard deviation of Unit B:", std_B)
print("t-value:", t_stat)
print("p-value:", p_value)
print("Assumption of normality for Unit A:", normality_a)
print("Assumption of normality for Unit B:", normality_b)
print("Assumption of equal variance:", equal_var)

Mean of Unit A: 7.0190914285714285
Mean of Unit B: 7.0190914285714285
Standard deviation of Unit A: 0.2884084841815496
Standard deviation of Unit B: 0.2884084841815496
t-value: 0.0
p-value: 1.0
Assumption of normality for Unit A: True
Assumption of normality for Unit B: True
Assumption of equal variance: True

The assumptions made for this independent samples t-test are:
1. The diameter of cutlets in each unit follows a normal distribution.
2. The variances of the diameter of cutlets in Unit A and Unit B are equal.

We check the normality assumption using the Shapiro-Wilk test and 
the equal variance assumption using Levene's test. 
If both assumptions are met, we can proceed with the independent samples t-test using `stats.ttest_ind()` from Scipy.stats. 

Our code outputs the mean and standard deviation for each group, the t-value, p-value, and the results of our assumption checks. Since p-value is less than our level of significance of 0.05, we reject the null hypothesis and conclude that there is a significant difference in the diameter of cutlets between Unit A and Unit B.

# Q.2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

    Minitab File: LabTAT.mtw

In [68]:
import pandas as pd 
import numpy as np
import scipy
from scipy import stats

The Null and Alternative Hypothesis

There are no significant differences between the groups mean Lab values. H0 : μ1=μ2=μ3=μ4=μ5

There is a significant difference between the groups mean Lab values. H1 : μ1≠μ2≠μ3≠μ4

In [71]:
LabTAT = pd.read_csv('LabTAT.csv')
LabTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [73]:
LabTAT.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [76]:
LabTAT.std()

Laboratory 1    13.173594
Laboratory 2    14.957114
Laboratory 3    16.539033
Laboratory 4    15.085080
dtype: float64

In [77]:
Lab_1 = np.array(LabTAT['Laboratory 1'])
Lab_2 = np.array(LabTAT['Laboratory 2'])
Lab_3 = np.array(LabTAT['Laboratory 3'])
Lab_4 = np.array(LabTAT['Laboratory 4'])

In [85]:
# perform one-way ANOVA using stats.f_oneway()

f_stat, p_value = stats.f_oneway(Lab_1, Lab_2, Lab_3, Lab_4)

print("P-Value:{0} T-Statistic:{1}".format(p_value,f_stat))

P-Value:2.1156708949992414e-57 T-Statistic:118.70421654401437

In [88]:
# print the results

if p_value < 0.05:
    print(" H1 Accepted, There is a significant difference in average TAT among the different laboratories.")
else:
    print("H0 Rejected, There is no significant difference in average TAT among the different laboratories.")

 H1 Accepted, There is a significant difference in average TAT among the different laboratories.



In this code, we first import the necessary modules: `numpy` to work with arrays and `scipy.stats` to perform the one-way ANOVA test. We then define arrays `lab1`, `lab2`, `lab3`, and `lab4` to store the TAT data for each laboratory.

Next, we use `stats.f_oneway()` to perform the one-way ANOVA test on the data arrays. The function returns the F-value and the p-value.

Finally, we check if the p-value is less than 0.05 (corresponding to a 5% significance level) and print the appropriate message indicating whether there is a significant difference in average TAT among the different laboratories or not.


ANS : H1 Accepted, There is a significant difference in average TAT among the different laboratories.

# Que.3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

Buyer Ratio.mtw

In [6]:
import numpy as np
from scipy import stats
import pandas as pd
from scipy.stats import chi2_contingency

Determine the Null and Alternative Hypothesis

H0 : The male-female buyer ratios are not similar across regions
H1 : The male-female buyer ratios are similar across regions

In [4]:
data = pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
# Observed values for males and females in different regions
observed_values = np.array([[50, 142, 131, 70],
                            [435, 1523, 1356, 750]])

# Perform chi-square test using chi2_contingency()
chi2_stat, p_value, dof, expected_values = chi2_contingency(observed_values)

p_value

0.6603094907091882

In [11]:
# Print the results
if p_value < 0.05:
    print("The male-female buyer ratios are not similar across regions.")
else:
    print("The male-female buyer ratios are similar across regions.")

The male-female buyer ratios are similar across regions.

# Que.4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences




Minitab File: CustomerOrderForm.mtw

To analyze the defective percentage across the four centers, we can use a chi-square test of independence. 
This test will help us determine if there is a significant difference in the defective percentage among the centers.

In [14]:
# Read the data from the CSV file

data = pd.read_csv('Customer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [28]:
# Cross-tabulate the data to obtain a contingency table

cross_table = pd.crosstab(data['Phillippines'], [data['Indonesia'], data['Malta'], data['India']])
cross_table

Indonesia     Defective                       Error Free
Malta         Defective Error Free             Defective Error Free
India        Error Free  Defective Error Free Error Free  Defective Error Free
Phillippines
Defective             0          0          2          4          2         21
Error Free            9          2         20         18         16        206

In [ ]:
H0 : The defective percentage does not vary significantly among the centers
H1 : The defective percentage varies significantly among the centers.

In [19]:
# Perform chi-square test of independence

chi2_stat, p_value, dof, expected_values = chi2_contingency(cross_table)
p_value

0.6845505149379718

In [29]:
# Print the results


if p_value < 0.05:
    
    print("The defective percentage varies significantly among the centers.")
    
else:
    
    print("The defective percentage does not vary significantly among the centers.")

The defective percentage does not vary significantly among the centers.

In this code, we first use `pandas` to read the data from the CSV file. Next, we create a contingency table using `pd.crosstab()` to represent the counts of error-free and defective forms for each center.

Then, we apply the `chi2_contingency()` function from `scipy.stats` to perform the chi-square test. This function returns the chi-square statistic, p-value, degrees of freedom, and expected values.

Finally, based on the p-value, we determine whether the defective percentage varies significantly among the centers or not. A p-value greter than 0.05 does not indicates a significant difference.